// Charities module
.intro {
  @include m-b($mu-massive*2);
}
.intro-textContainer {
  @include u-blockCenter();
  @include p(0);

  max-width: 900px;
}
.intro-text {
  @include m(0);
  @include p-h($mu-large);

  max-width: 580px;

  @include font-sans(500);
  font-size: $fontSize-medium;
  line-height: $lineHeight-loose;
  color: $color-greenBlue;
}

@media screen and (min-width: 500px) {

  .intro-text {
    font-size: $fontSize-large;
  }
  .intro-text--newLine {
    display: block;
  }
}

.charities {
  @include u-clearfix();
  @include u-blockCenter();
  @include m-t(0);
  @include m-b($mu-jumbo);
  @include p(0);

  max-width: 900px;
  list-style: none;
}

.charity {
  @include u-borderBox();
  @include m(0);
  @include m-b($mu-jumbo * 2);
  @include p-h($mu-large);

  display: inline-block;
  vertical-align: top;

  max-width: 300px - 3; // Weird width fix I need to look into
}
.charity-name {
  @include m-t(0);
  @include m-b($mu-normal);

  @include font-sans(500);
  font-size: $fontSize-medium;
  line-height: $lineHeight-normal;
}
.charity-location {
  @include m-t(0);
  @include m-b($mu-normal);

  @include font-sans(200);
  font-size: $fontSize-small;
  line-height: $lineHeight-normal;
  color: $color-midGrey;

  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.charity-description {
  @include font-sans(400);
  font-size: $fontSize-base;
  line-height: $lineHeight-normal;
}
.charityLinks {
  @include m(0);
}
.charityLinks-link {
  display: inline-block;

  font-size: $fontSize-base;
  line-height: $lineHeight-normal;
}