// Charities module
.intro {
  @include m-b($mu-large);
}
.intro-textContainer {
  @include u-blockCenter();
  @include p-v($mu-massive);

  max-width: 900px;
}
.intro-text {
  @include m(0);
  @include p-h($mu-large);

  font-size: $fontSize-medium;
  color: $color-greenBlue;

  @extend .font-sans5;
  @extend .lineHeight-loose;

  max-width: 580px;
}

@media screen and (min-width: 500px) {

  .intro-text {
    font-size: $fontSize-large;
  }
  .intro-text--newLine {
    display: block;
  }
}

.charities {
  @extend %u-clearfix;
  @extend %u-blockCenter;
  @extend %m-zero-v;
  @extend %m-jumbo-b;
  @extend %p-zero;

  max-width: 900px;
  list-style: none;
}

.charity {
  @extend %u-borderBox;

  @include m(0);
  @include m-b($mu-jumbo * 2);
  @include p-h($mu-large);

  display: inline-block;
  vertical-align: top;

  max-width: 300px - 3; // Weird width fix I need to look into
}
.charity-name {
  @extend .font-sans5;
  @extend .fontSize-medium;
  @extend .lineHeight-normal;
  @extend %m-normal-b;

  margin-top: 0;
}
.charity-location {
  @extend .font-sans2;
  @extend %fontSize-small;
  @extend .lineHeight-normal;
  @extend %m-normal-b;

  color: $color-midGrey;

  text-transform: uppercase;
  letter-spacing: 0.2em;

  margin-top: 0;
}
.charity-description {
  @extend .font-sans4;
  @extend %fontSize-normal;
  @extend .lineHeight-normal;
}
.charityLinks {
  margin: 0;
}
.charityLinks-link {
  @extend .fontSize-normal;
  @extend .lineHeight-normal;

  display: inline-block;
}
.charityLinks-divider {
  color: $color-lineGrey;
}