// Colors
$color-green:       rgb(19,182,136);
$color-greenLight:  rgb(70,216,163);
$color-greenBlue:   rgb(70,216,214);
$color-midGrey:     rgb(180,180,180);
$color-darkGrey:    rgb(90,90,90);

// UI colors
$color-lineGrey:    rgb(230,230,230);
$color-bgGrey:      rgb(245,245,245);