// Footer

.footer {
  @include p-v($mu-massive);
  background-color: $color-bgGrey;
}
.footer-inside {
  @include u-blockCenter();
  max-width: 900px;
}
.footer-text {
  @include p-h($mu-large);
  @include m(0);
  @include m-b($mu-medium);
  @include font-sans(700);

  font-size: $fontSize-base;
  line-height: $lineHeight-normal;
}
.footer-text:last-child {
  @include m-b(0);
}