.site-header {
  @include u-blockCenter();
  @include u-borderBox();
  @include p-h($mu-large);
  @include m-t($mu-zero);
  @include m-b($mu-medium);
  @include font-sans(200);

  font-size: $fontSize-large;
  line-height: 1.1;
  max-width: 900px;
  color: rgb(255,255,255);
  border: 2px solid $color-greenLight;

  background-color: $color-greenLight;
}
.intro {
  @include m-b($mu-massive*2);
}
.intro-textContainer {
  @include u-blockCenter();
  @include p(0);

  max-width: 900px;
}
.intro-text {
  @include m(0);
  @include p-h($mu-large);

  max-width: 580px;

  @include font-sans(400);
  font-size: $fontSize-base;
  line-height: $lineHeight;
  color: $color-darkGrey;
}

@media screen and (min-width: 600px) {

  .site-header {
    @include m-t($mu-massive);
    font-size: $fontSize-large * 3;
  }
  .intro-text--newLine {
    display: block;
  }
}

@media screen and (min-width: 900px) {

  .site-header {
    @include m-t($mu-massive*2);
    font-size: $fontSize-large * 4;
  }
}