// Margin units

$marginUnit-base: 14px;

// Define units here
$mu-zero:    0;
$mu-small:   $marginUnit-base * .5;
$mu-normal:  $marginUnit-base;
$mu-medium:  $marginUnit-base * 1.5;
$mu-large:   $marginUnit-base * 2;
$mu-jumbo:   $marginUnit-base * 3;
$mu-massive: $marginUnit-base * 5;

@mixin m-t($m) {
  margin-top: $m;
}
@mixin m-r($m) {
  margin-right: $m;
}
@mixin m-b($m) {
  margin-bottom: $m;
}
@mixin m-l($m) {
  margin-left: $m;
}
@mixin m-v($m) {
  margin-top: $m;
  margin-bottom: $m;
}
@mixin m-h($m) {
  margin-right: $m;
  margin-left: $m;
}
@mixin m($m) {
  margin: $m;
}

@mixin p-t($p) {
  padding-top: $p;
}
@mixin p-r($p) {
  padding-right: $p;
}
@mixin p-b($p) {
  padding-bottom: $p;
}
@mixin p-l($p) {
  padding-left: $p;
}
@mixin p-v($p) {
  padding-top: $p;
  padding-bottom: $p;
}
@mixin p-h($p) {
  padding-right: $p;
  padding-left: $p;
}
@mixin p($p) {
  padding: $p;
}