$font-sans: 'aktiv-grotesk-std', 'Helvetica Neue', 'Helvetica', sans-serif;

@mixin font-sans($size) {
  font-family: $font-sans;
  font-weight: $size;
}

// Type scale

$fontSize-base:   16px;
$fontSize-small:  12px;
$fontSize-large:  28px;

// Vertical rhythm
$lineHeight: 22px;
$lineHeight-heading: 1.1;